*{
  font-family: 'Arial';
}

body {
  margin: 0;
  background: #b4c0cf;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #d9eef3;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}

header{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #167a83;
  height: 5rem;
  padding: 0;
}

header ul{
  display: flex;
  justify-content: space-evenly;
}

header li{
  color: white;
  list-style: none;
  background-color: #2c3e50;
  padding: 6px;
  border-radius:5px;
}

.nLevel,
.nMaxLevel{
  display: inline-block;
  width: 6rem;
  height: 2rem;
  text-align:center;
}