*{
  font-family: 'Arial';
  box-sizing: border-box;
}
:root{
  /* COLORS:--------------------------------------------- */
  --header-main-color:#167a83;
  --header-fonts-color:#d9eef3;
  --header-secondary-color:#2c3e50;
}

body {
  margin: 0;
  background: #b4c0cf;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.cyan {
  background: #22a6b3;
}

.cyan.light {
  background: #7ed6df;
}

.violet {
  background: #be2edd;
}

.violet.light {
  background: #e056fd;
}

.orange {
  background: #f0932b;
}

.orange.light {
  background: #ffbe76;
}

.green {
  background: #6ab04c;
}

.green.light {
  background: #badc58;
}

.btn-start {
  background: #d9eef3;
  color: #2c3e50;
  position: absolute;
  width: 400px;
  height: 100px;
  font-size: 2.5rem;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}

header{
  background-color: var(--header-main-color);
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 0;
  padding: 0;
}

header ul{
  justify-content: space-evenly;
  display: flex;
}

header li{
  color: var(--header-fonts-color);
  background-color: var(--header-secondary-color);
  display: flex;
  position: relative;
  justify-items: center;
  align-items:center;
  padding: 6px;
  border-radius:5px;
  list-style: none;
}

.nLevel,
.nMaxLevel{
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content:center;
}

.boxTitle{
  position: absolute;
  right:105%;
  width: fit-content;
  text-align-last: right;
}

#slider{
  background-color: var(--header-fonts-color);
  width:100%;
  height:5px;
  outline:none;
  border-radius:3px;
  -webkit-appearance:none;
}
#slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  position:relative;
  z-index:10;  
  width:48px;
  height:48px;
  cursor:pointer;
}
